REACT_APP_API_URL=http://localhost:5000/api

# EmailJS (https://emailjs.com dan oling)
REACT_APP_EMAILJS_SERVICE=service_xxxxxxx
REACT_APP_EMAILJS_TEMPLATE=template_xxxxxxx
REACT_APP_EMAILJS_KEY=xxxxxxxxxxxxxxx
